$topic-height: 70;

.custom-homepage-columns {
  // Two column section with post feeds
  display: flex;
  margin: 2em 0 6em 0;

  .discourse-tags {
    display: none;
  }
  .num.likes {
    display: none;
  }

  .btn {
    line-height: unset;
  }

  .loading-container {
    min-height: calc(#{$topic-height}px * 3);
  }

  @media screen and (max-width: 750px) {
    flex-wrap: wrap;
  }
  .col {
    width: 50%;
    @media screen and (max-width: 750px) {
      width: 100%;
    }
  }
  .col-1 {
    margin-right: 1.5em;
    + .col-2 {
      margin-left: 1.5em;
    }
  }
  @media screen and (max-width: 750px) {
    .col-1,
    .col-2 {
      margin: 0 0 2em 0 !important;
    }
  }
  .header-wrapper {
    display: flex;
    align-items: flex-start;
    background-color: var(--tertiary);
    color: var(--secondary);
    padding: 0.75em;
    h2 {
      margin: 0;
    }
    button {
      margin-left: auto;
      border: none;
      background: var(--primary-low);
      color: var(--primary);
    }
  }
  .topic-list {
    // Hides extra details in topic feeds
    margin-bottom: 1em;
    > .topic-list-header,
    .posts-map,
    .num.posts,
    .num.views,
    .category {
      display: none;
    }
    > .topic-list-body { 
      border: none;
    }
    .topic-list-item:nth-child(odd) {
      background: var(--primary-very-low);
    }
    .topic-list-item {
      height: #{$topic-height}px;
    }
    .posters {
      a {
        display: none;
        &:last-of-type {
          display: inline-block;
        }
      }
    }
    .main-link {
      width: 80%;
    }
  }
}
