.custom-homepage-columns {
  // Two column section with post feeds
  display: flex;
  margin: 2em 0 6em 0;

  .discourse-tags {
    display: none;
  }
  .num.likes {
    display: none;
  }

  .btn {
    line-height: unset;
  }

  @media screen and (max-width: 750px) {
    flex-wrap: wrap;
  }
  .col {
    width: 50%;
    @media screen and (max-width: 750px) {
      width: 100%;
    }
  }
  .col-1 {
    margin-right: 1.5em;
    + .col-2 {
      margin-left: 1.5em;
    }
  }
  @media screen and (max-width: 750px) {
    .col-1,
    .col-2 {
      margin: 0 0 2em 0 !important;
    }
  }
  .header-wrapper {
    display: flex;
    align-items: flex-start;
    background-color: var(--tertiary);
    color: var(--secondary);
    padding: 0.75em;
    h2 {
      margin: 0;
    }
    button {
      margin-left: auto;
      border: none;
      background: var(--primary-low);
      color: var(--primary);
    }
  }
  .topic-list {
    // Hides extra details in topic feeds
    margin-bottom: 1em;
    thead,
    td.posts-map,
    td.num.views,
    td.category {
      display: none;
    }
    tbody {
      border: none;
    }
    tr:nth-child(odd) {
      background: var(--primary-very-low);
    }
    td.posters {
      a {
        display: none;
        &:last-of-type {
          display: inline-block;
        }
      }
    }
    .main-link {
      width: 80%;
    }
  }
}

// homepage banner

.above-discourse-showcased-categories-outlet.custom-banner .row {
  margin: 0 10px;
}

#banner {
  height: auto;
}

#banner-content {
  height: calc(100% - 1em);
  margin: -1em -1em 0;
  overflow: hidden !important;
  p {
    margin: 0;
  }
  img {
    width: 100%;
    height: auto;
    margin-top: -1em;
  }
}
