.desktop-view .showcased-categories-sidebar {
  .container.list-container #list-area .contents {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-areas: "topics showcased";
    span:first-of-type {
      grid-area: showcased;
      + .topic-list {
        grid-area: topics;
      }
    }
  }

  .two-topic-list-sidebar .custom-homepage-columns {
    width: calc(100% - 1em);
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: 3.5em 0 0 1em;
    .col {
      width: 100%;
      margin: 0 0 2em 0;
      display: flex;
      flex-direction: column;
      .header-wrapper {
        align-items: center;
        h2 {
          font-size: $font-down-1;
          margin: 0 !important;
        }
        .btn-primary {
          font-size: $font-down-1;
          padding: 0.25em 0.4em;
        }
      }
      .topic-list {
        font-size: $font-down-2;
      }
      .btn-more {
        font-size: $font-down-1;
        padding: 0.25em 0.4em;
        margin-left: auto;
      }
    }
  }
}